.header {
    background-color:white;
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

img{
    width: 150px !important
}

.header .logo {
    display: flex;
    align-items: center;
}

.header h1 {
    color: red;
    font-size: 40px;
    margin-left: 10px;
    font-weight: 700;
    font-family: sans-serif;
}

.header nav ul {
    list-style-type: none;
    display: flex;
}

.header nav ul li {
    margin-left: 40px;
}

.header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
